

.gradiantVoladorDragon{
    background: rgb(155,157,157);
    background: linear-gradient(0deg, rgba(155,157,157,1) 46%, rgba(32,226,220,1) 99%);
}

.selectImage :hover{
    color: brown;
    background-color: white;
    border-color: brown;
}
#imgBulbauser :hover{
    background-color: cadetblue !important;
}